.card {
  width: 500px;
  padding: 25px 10px;
  background: white;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}