.card {
  padding: 50px 60px;
  background: white !important;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  align-items: center;
}

.card > div {
  margin: 10px auto;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.input {
  width: 100% !important;
}

.error {
  color: #de3226;
}