.header {
  background-color: #03A9F4 !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.headerTitleContainer {
  display: flex;
}

.headerTitle {
  padding-left: 15px;
  font-weight: 400;
  color: white;
}

.iconButton {
  color: white;
}

.headerButton {
  color: #fefefe !important;
}

.headerButton:hover {
  color: #2196f3 !important;
}