.header {
  background-color: #03A9F4 !important;
}

.headerTitleContainer {
  display: flex;
}

.headerTitle {
  padding-left: 15px;
  font-weight: 400;
  color: white;
}

.iconButton {
  color: white;
}